* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    border: 0.1rem solid #293241;
    padding: 1rem;
    font-size: 1.4rem;
    color: #EE6C4D;
    background-color: #3E4C5E;
}

body {
    background-color: #293241;
    /* background-image: url(../images/rain.jpg);
    background-size: cover; */
    color:#E0FBFC;
    font-family: Manrope, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    text-align: center;
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 6fr 6fr 1fr;
    /* min-height: 100vh; */
    height:100vh;
}

/* Set locations of containers within the body tag */

header {
    background-color:rgba(61, 90, 128, 0.8);
    padding: 3vh 0 3vh 0;
    color:#E0FBFC;
    font-size:3rem;
    font-weight:bold;
    grid-row: 1;
}

.illustration {
    grid-row:2;
}

.controls {
    grid-row: 3;
}

footer {
    background-color:rgba(61, 90, 128, 0.8);
    width: 100%;
    grid-row: 4;
    padding: 0;
    display:flex;
    align-items: center;
    justify-content: center;
}

/* Control buttons and readouts */

.controlblock {
    border: 2px solid #EE6C4D;
    background-color:rgba(61, 90, 128, 0.8);
    margin: auto;
    margin-bottom: 1vh;
}

#speedcontrols {
    display: flex;
    flex-direction: column;
}

.speedbutton {
    border: 0px;
}

/* Audio player */

#audiocontrols {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

#volumeup {
    grid-column: 3;
    grid-row: 1;
}

#volumedown {
    grid-column: 1;
    grid-row: 1;
}

#volumereadout {
    grid-column: 2;
    grid-row: 1;
    border-bottom: 0.1rem dotted white;
}

#audioplaybutton {
    grid-column: 1;
    grid-row-start: 3;
    grid-row-end: -1;
}

#nowplaying {
    grid-row: 2;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
    margin: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#audioskipback {
    grid-row: 3;
    grid-column: 2;
}

#audioskipforward {
    grid-row: 3;
    grid-column: 3;
}

/* Navigation links */

nav > ul {
    list-style-type: none;
    padding: 0;
}

nav > ul > li {
    display: inline;
    padding: 0 1vw 0 1vw;
}

.navlink {
    color: #9E9CAB;
    text-decoration: none;
    border: 1vw;
}

/* Colour palette (light to dark)
--roman-silver: #84828f;
--old-lavender: #6a687a;
--black-coral: #536271;
--charcoal: #3e4c5e;
--prussian-blue: #2c3d55;
*/